{{#if resume.references.length}}
    <div class="sectionBlock">
        <div class='sectionContent'>
            <span class='sectionName'>REFERENCES</span>
            <div class="blockHeader references_content">
                {{#each resume.references}}
                    <div class="reference_item">
                        {{#if name}}
                        <div class="reference_name">{{name}}</div>
                        {{/if}}
                        {{#if reference}}
                        <div class="reference_reference">{{reference}}</div>
                        {{/if}}
                    </div>
                    {{#if @last}}{{else}}
                    <div class="reference_break"></div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
{{/if}}