{{#if resume.skills.length}}
<section id="skills" class="item no-break">
	<h2><i class="fa fa-tasks left"></i> SKILLS</h2>
	<section class="skills_container">
	{{#each resume.skills}}
	<h3>{{name}}</h3>
	{{/each}}
	</section>
</section>
{{/if}}