{{#if resume.interests.length}}
<section id="interests" class="item">
	<h2><i class="fa fa-star left"></i> INTERESTS</h2>
	<div class="interests_container">
	{{#each resume.interests}}
	<h3>{{name}}</h3>
	{{/each}}
	</div>
</section>
{{/if}}