{{#if resume.interests.length}}
  <div id='interests' class='section-block'>
    <div class='section-intro'>
      <div class='section-name'>
        <span>INTERESTS</span>
      </div>
      <div class='section-intro-line'></div>
    </div>
    <div class='section-content' id="interests_list">
        {{#each resume.interests}}
          <span class='title'>{{name}}</span>
        {{/each}}
    </div>
    <div class='section-line'></div>
  </div>
{{/if}}
