{{#if resume.skills.length}}
  <div id='skills' class='section-block'>
    <div class='section-intro'>
      <div class='section-name'>
        <span>SKILLS AND TECH</span>
      </div>
      <div class='section-intro-line'></div>
    </div>
    <div class='section-content skills_container' id="skills_list">
        {{#each resume.skills}}
            <span class=''>{{name}}</span>
        {{/each}}
    </div>
  </div>
  <div class='section-line'></div>
{{/if}}
